* {
	font-family: "Ludica Console", Monaco, monospace;
}
.welcome {
	background-color: white;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.welcome > .content{
	max-width: 50%;
	font-weight: 400px;
}
.content > a h2{
	border: 3px solid black;
	/*border-radius: 7px;*/
	padding: 30px;
}
.content > a h2:hover {
	border: 6px dotted black;
	border-radius: 0;
	padding: 27px;
}
.content > a:hover {
	text-decoration: none;
}
.content > h4 {
	text-align: center;
	margin-top: 0;
	margin-left: auto;
	line-height: 0.5;
	letter-spacing: 5px;
	margin-left: 5px;
}
.row > .col-md-4 {
	border: 2px solid gray;
}
.list {
	list-style-type: none;
}
.row {
	line-height: 2;
}
#title, h3 {
	font-weight: bold;
}
#main {
	display: flex;
}
#icon {
	position: absolute;
	bottom: 30px;
	color: black;
}
#icon:hover {
	font-size: 1.09em;
	bottom: 28px;
	color: black;
}
a {
	color: black;
}
a:hover {
	color: #3B3B3B;
}
.location {
	text-align: right;
}
.rightlist {
	float: right;
}
.separate {
	border-right: 2px dotted black;
}
.page {
	background-color: #BFEFFF;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.information {
	width: 90%;
}
.contact {
	margin-top: 60px;
	text-align: center;
	font-size: 18px;
}
.modal-dialog {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 85vh;
}
.modal {
	padding: 0;
}
.modal-content {
	width: 350px;
	height: 550px;
	border: none;
	background-color: #BFEFFF;
	box-shadow: 20px 20px;
	border-radius: 0px;
	margin: 0;
}
.modal-header {
	border: none;
}
.modal-backdrop {
	background-color: white;
}

.modal-content > a {
	color: white;
	position: absolute;
	margin-left: 330px;
	text-shadow: none;
	opacity: 1;
}
.modal-content > a:hover {
	text-decoration: none;
	color: white;
	opacity: 0.75;
}
.modal-body > img {
	height: 75px;
	position: absolute;
	margin-left: 140px;
}
